Xft.dpi: 192
Xft.antialias: 1
Xft.autohint: 0
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.rgba: rgb

! urxvt settings
!URxvt.font: xft:SourceCodePro:style=Medium:size=11
URxvt.font: xft:DMMono:size=11
URxvt.scrollBar: false
URxvt.internalBorder: 20
URxvt.externalBorder: 0

! special
*.foreground:   #e0dfe1
*.background:   #050009
*.cursorColor:  #e0dfe1

! black
*.color0:       #040404
*.color8:       #a095da

! red
*.color1:       #131315
*.color9:       #4d886d

! green
*.color2:       #252429
*.color10:      #3eb4c8

! yellow
*.color3:       #3e3d43
*.color11:      #d7742d

! blue
*.color4:       #5d5c65
*.color12:      #f39360

! magenta
*.color5:       #83828a
*.color13:      #8776d8

! cyan
*.color6:       #afafb4
*.color14:      #d25aa9

! white
*.color7:       #e2e2e4
*.color15:      #9b8ee1

