Xft.dpi: 192
Xft.antialias: 1
Xft.autohint: 0
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.rgba: rgb

! urxvt settings
!URxvt.font: xft:SourceCodePro:style=Medium:size=11
URxvt.font: xft:DMMono:size=11
URxvt.scrollBar: false
URxvt.internalBorder: 20
URxvt.externalBorder: 0

! special
*.foreground:   #e9ddde
*.background:   #040102
*.cursorColor:  #e9ddde

! black
*.color0:       #070303
*.color8:       #b8a37e

! red
*.color1:       #1d0f11
*.color9:       #99c4bf

! green
*.color2:       #351f22
*.color10:      #719591

! yellow
*.color3:       #56343a
*.color11:      #d69ddf

! blue
*.color4:       #805058
*.color12:      #6c9662

! magenta
*.color5:       #b1717c
*.color13:      #978769

! cyan
*.color6:       #c9a7ac
*.color14:      #8dcb7e

! white
*.color7:       #ebe0e1
*.color15:      #c96dd5
